@use "../variables" as *;
@use "../mixins" as *;

.nav-icons {
  display: flex;
  align-items: center;
  gap: $spacing-xs;

  &__item {
    display: flex;
  }

  &__link {
    @include flex-center;
    width: 40px;
    height: 40px;
    color: $color-gray-500;
    border-radius: $radius-md;
    transition: color 0.2s ease, background-color 0.2s ease;
    @include focus-visible;

    &:hover {
      color: $color-gray-700;
      background-color: $color-gray-100;
    }

    &--active {
      color: $color-primary;
    }
  }
}
