@use "../variables" as *;
@use "../mixins" as *;

.messenger {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  background-color: $color-white;
  box-shadow: $shadow-lg;

  @include tablet {
    grid-template-columns: $sidebar-width-tablet 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}
